<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Albums</title>
  <link rel="stylesheet" href="/public/styles/styles.css"> 
</head>

<body>
  <header>
    <h1>Albums</h1>
    <nav>
        <a href="albumes">Álbumes</a>
        <a href="artists">Artistas</a>
        <a href="addData">Agregar Álbum</a>
        <a href="addArtist">Agregar Artista</a>
        <a href="about">Acerca de</a>
    </nav>
</header>
  <ul>
    <% albums.forEach(album=> { %>
      <li>
          <%= album.title %>
      </li>
      <li>
          <%= album.releaseDate %>
      </li>
      <li>
        <%= album.artists %>
      </li>
      <% }); %>
  </ul>
</body>

</html>