<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Web de Álbumes y Artistas</title>
    <link rel="stylesheet" href="/public/styles/styles.css"> <!-- Enlace a la hoja de estilos -->
</head>
<body>

<header>
    <h1>Guarda tu musica</h1>
    <nav>
        <a href="albumes">Álbumes</a>
        <a href="artists">Artistas</a>
        <a href="addData">Agregar Álbum</a>
        <a href="addArtist">Agregar Artista</a>
        <a href="about">Acerca de</a>
    </nav>
</header>

<main>
  <section class="introduccion">
    <div class="contenido-centrado">
        <h1>Bienvenido a ApiMusic</h1>
        <p>El lugar donde la pasión por la música cobra vida. Aquí podrás explorar una vasta colección de álbumes y artistas que han dejado una huella imborrable en la historia musical.</p>
        <ul>
            <li>Descubrir artistas y sus albumes.</li>
            <li>Sumergirte en álbumes icónicos.</li>
            <li>Agregar tus propios álbumes y artistas.</li>
        </ul>
        <p>¡Disfruta de tu viaje musical!</p>
    </div>
</section>
</main>

</body>
</html>