<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <p>&copy; 2024. Todos los derechos reservados.</p>
    <ul class="list-unstyled">
      <li class="d-inline">
        <a href="#sobre-nosotros" class="text-white mx-2">Sobre Nosotros</a>
      </li>
      <li class="d-inline">
        <a href="#servicios" class="text-white mx-2">Servicios</a>
      </li>
      <li class="d-inline">
        <a href="#contacto" class="text-white mx-2">Contacto</a>
      </li>
      <li class="d-inline">
        <a href="#privacidad" class="text-white mx-2">Política de Privacidad</a>
      </li>
    </ul>
  </div>
</footer>