body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #575757;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.introduccion {
  background-image: url('/public/images/fondo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  text-align: center;
}

.contenido-centrado {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}